.search-box {
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #073590;
    padding: 20px;
}

.search-box button {
    width: 100%;
    color: #073590;
    background-color: #F1C933;
    border-color: #F1C933;
    font-size: 18px;
    font-weight: bold;
}

.button-container {
    padding-top: 20px;
}
