<div class="autocomple-container">
  <input class="input is-medium" type="text" ng-model="$ctrl.model" ng-click="$ctrl.focus()" ng-blur="$ctrl.blur()"/><br/>
  <div class="items" ng-hide="$ctrl.selected">
  	<div class="item" ng-repeat="item in $ctrl.items | filter:model | limitTo:10 track by $index" ng-click="$ctrl.handleSelection(item)" style="cursor:pointer" ng-class="{active:$ctrl.isCurrent($index)}" ng-mouseenter="$ctrl.setCurrent($index)">
  		<p>{{::item.name}}</p>
  	</div>
  </div>
<div>
