<section class="hero is-medium">

  <div class="hero-head">
    <header class="nav app-header">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            <img src="https://www.seatlink.com/images/logos/no-text/sm/ryanair.png" height="50" />
            RYANAIR
          </a>
        </div>
      </div>
    </header>
  </div>

  <div class="hero-body">
    <search-wrapper></search-wrapper>

    <ui-view></ui-view>
  </div>

</section>
